@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100;1,100&family=Open+Sans+Condensed:ital,wght@1,300&family=Sedgwick+Ave&display=swap');

body{
    font-family: 'Open Sans Condensed', sans-serif;
}


body {
    font-size: 25px;
    background: url(../images/logo.png);
    background-size: 20%;
    
}
/* HEADER */

.title h1 {
    padding: 20px 0;
    text-align: center;
    font-size: 2.9em;
    text-transform: uppercase;
}

/* CONTAINER */

.container {
    width: 90%;
    max-width: 1000px;
    margin: 1.6em auto;
    display: grid;
    gap: 1.6em;
    /* grid-template-columns: repeat(4, 1fr) 3%; */
    grid-template-columns: repeat(5, 1fr);
}

.container>.header, .container>.content, .container>.sidebar, .container>.footer, .container>div {
    background: #fff;
    padding: 20px;
    border: 1px solid #000000;
}

.container>.header, .container>.footer {
    grid-column: 1/-1;
    background-color: #1e272e;
    color: #ffffff;
}

.container>.content {
    grid-column: span 3;
    grid-row: span 4;
}

.content>.article {
    background: #808e9b;
    padding: 20px;
    margin-top: 5px;
    color: #dfe6e9
}

.content .article h1,
.content .article p {
    padding: 10px;
}

.container>.sidebar {
    grid-column: span 2;
    grid-row: span 4;
    background: #485460;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .sidebar img {
    display: block;
    width: 100%;
    margin-top: 5px;
}

.container>.related-post {
    background: #2d3436;
    color: #ffffff;
    height: 180px;
    ;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
}

.container>.related-post:hover {
    cursor: pointer;
    color: #000000;
    background: #ffffff;
}

/*NAV*/

.nav{
    color: white;
    background-color: pink;
    min-height: 100%;

    
}
.nav__logo {
margin-top: 20px;
margin-left: 10px;
padding-bottom: 20px;

}

.nav__links{
  
    list-style: none;
    display: inline-block;
    margin-bottom: 20px;
    font-size: 25px;
}
.nav__link{
    color: black;
    text-decoration:  none;
    margin-left: 20px;
    
}

.nav__link--active{
    font-weight: 900;
}

.nav__item{
    display: inline-block;
}







/*SPX*/
.imagenes__spx {
width: 500px;
height: 500px;
border: 2px solid black;
margin: auto;
display: block;
}

/*TABLA*/
table {
    background-color: pink;
    margin-top: 50px;
    caption-side: bottom;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
  
}

th { 
    background-color: black;
    color:  white;
}

td,th {
    border: 2px solid black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*SLP*/
.imagenes__slp {
    
width: 500px;
height: 500px;
border: 2px solid black;
margin: auto;
display: block;

}

/*OLMO*/
.imagenes__olmo {
    
width: 500px;
height: 500px;
border: 2px solid black;
margin: auto;
display: block;

}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
    .header {
        text-align: center;
    }
    .container .content {
        grid-column: 1 / -1;
    }
    .container .sidebar {
        grid-column: 1 / 6;
    }

    .container .related-post {
        grid-column: 1/-1;
    }
    .nav{
        max-width: 100%;
    }
    table{
        width: 100%;
    }   

    table tr {
        display: flex;
        flex-direction: column;
    border: 1px solid black;
    padding: 1em;
    margin-bottom: 1em;
    }

    .p__contactos{
        text-align: center;


    }
} 
@media screen and (max-width: 30em) {
    .imagenes__slp{
        width: 200px;
        height: 200px;
    }
   
    .imagenes__olmo{
        width: 200px;
        height: 200px;
    }
    .imagenes__spx {
    
        width: 200px;
        height: 200px;  }
      
    table{
        width: 100%;
    }   

    table tr {
        display: flex;
        flex-direction: column;
    border: 1px solid black;
    padding: 1em;
    margin-bottom: 1em;
    }
    
  form {
      width: 100px;
      height: 100px;
  }
   

        
} 
@media screen and (max-width: 1024px) {
    table{
        width: 100%;
    }   

    table tr {
        display: flex;
        flex-direction: column;
   
    }
    
}
